nav {
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  box-sizing: border-box;
  padding: 24px 8vw;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: var(--color-bg);
}

nav .home-btn {
  color: var(--color-primary);
  font-size: var(--cta);
  font-weight: 300;
}
nav ul {
  display: flex;
  gap: 40px;
}
nav ul .separator {
  width: 1px;
  height: 100%;
  background-color: var(--color-primary);
}
nav ul li a span {
  font-size: var(--body-1);
}
nav ul li {
    position: relative;
}
nav ul li::after {
    position: absolute;
    content: '';
    height: 1px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: var(--color-text);
    transform: scaleX(var(--underline-scaleX));
    transform-origin: left;
    pointer-events: none;
}
nav ul li a {
  position: relative;
}

.nav__contact a {
  display: flex;
  gap: 16px;
  align-items: center;
}

.pill-projects {
  background-color: var(--color-primary);
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(100%, -100%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  text-align: center;
}
.pill-projects span {
  color: var(--color-bg);
  font-size: var(--body-4);
  transform: translate(0px, 1px);
}
